<p>Deets</p>
<form novalidate class="simple-form">
	<div class="input-group">
		<input id="storeInput" class="form-control" type="text" placeholder="store" ng.model="beer.store"/><br/>
		<div class="input-group-btn">
			<a class="btn btn-default" id="incidentButton" ng-click="isCollapsed = !isCollapsed" tabindex="-1" data-original-title="Click to Show/Hide Details"><span class="glyphicon glyphicon-list-alt"></span></a>
		</div>
	</div>
	<div id="storeDetails" collapse="!isCollapsed" class="col-md-12">
		<input id="placeId" hidden="true">
		<div class="form-group col-md-3">
			<a class="right ctrl" title="" data-placement="right" data-toggle="tooltip" href="#" tabindex="-1">Place:</a>
			<input id="place" type="text" class="form-control" ng-model="store.name" maxlength="10">
		</div>
		<div class="form-group col-md-3">
			<a class="right ctrl" title="" data-placement="right" data-toggle="tooltip" href="#" tabindex="-1">Street Number:</a>
			<input id="street_number" type="text" class="form-control" data-field="store.street_number" maxlength="10">
		</div>
		<div class="form-group col-md-3">
			<a class="right ctrl" title="" data-placement="right" data-toggle="tooltip" href="#" tabindex="-1">Street Name:</a>
			<input id="route" type="text" class="form-control" data-field="store.street_name" maxlength="24">
		</div>
		<div class="form-group col-md-3">
			<a class="right ctrl" title="" data-placement="right" data-toggle="tooltip" href="#" tabindex="-1">City Name:</a>
			<input id="locality" type="text" class="form-control" data-field="store.city" maxlength="30">
		</div>
		<div class="form-group col-md-3">
			<a class="right ctrl" title="" data-placement="right" data-toggle="tooltip" href="#" tabindex="-1">State:</a>
			<input id="administrative_area_level_1" type="text" class="form-control" data-field="store.state" maxlength="4">
		</div>
		<div class="form-group col-md-3">
			<a class="right ctrl" title="" data-placement="right" data-toggle="tooltip" href="#" tabindex="-1">Zip Code:</a>
			<input id="postal_code" type="text" class="form-control" data-field="store.zip" maxlength="9">
		</div>
	</div>
	<label for="beerInput">Beer</label>
	<input id="beerInput" class="form-control" type="text" ng-model="beer.beer"/>
	<label for="brewerInput">Brewer</label>
	<select id="brewerInput" class="form-control" type="text" ng-model="beer.brewer">
		<option ng-repeat="brewer in brewers" value = "{{brewer.name}}">{{brewer.name}}</option>
	</select>
	<br/>
	<label for="beerPrice">Price</label>
	<input id="beerPrice" class="form-control" type="text" ng-model="beer.price"/>
	<br/>
	<label for="beerPkgInput">Package</label>
	<select class="form-control" id="beerPkgInput" ng-model="beer.package" ng-options="package for package in packages"></select>
	<label for="beerSizeInput">Container Size</label>
	<select class="form-control" id="beerSizeInput" ng-model="beer.size" ng-options="size for size in sizes">
	</select>
	<label for="beerContainerTypeInput">Container Type</label>
	<select class="form-control" id="beerContainerTypeInput" ng-model="beer.container" ng-options="container for container in containers">
	</select>
	 <div>
	<p class="text-center"><button type="submit" class="btn btn-success" ng-click="inputBeer()">Update</button></p>
  </div>
	</form>
